.main
{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    min-height: calc(100vh - 7rem);
}

.main__fotos
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 50px 10px;
    flex-wrap: wrap;
    align-items: center;
    left: 0;
}

.main__foto
{
    max-width: auto;
    max-height: 500px;
    border: solid rgba(230, 0, 38, 0.678) 2px;
    transition: all 3s ease-in-out; 

    &:hover
    {
        position: fixed;
        transform: scale(1.1);
        transition: all 1.5s ease-in-out;  
    }
}


.scale 
{ 
    img
    {
        
	transition: all 2s ease-in-out; 
    position: relative;

        &:hover
        {
            margin: 10px;
            /* padding: 10px;  */
            background-color: rgba(0, 0, 0, 0.863);
            position: relative;
            transform: scale(1.2); 
            z-index: 1;  
        }
    }
}

@media only screen and (max-device-width: 480px)
{

    .main
    {
       height: calc(100vh -7rem);
    }
    
    .main__fotos
    {
       display: flex;
       flex-wrap: wrap;
       align-content: center;

       img
        {
            width: 75vw;
        }
    }
   
   
}