.main
{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    min-height: calc(100vh - 7rem);
    width: 100vw;
}

.main__mixin
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 50px 10px;
    flex-wrap: wrap;
    align-items: center;
    left: 0;
}

@mixin botones($color1,$color2) {
    background-color: $color1;
    color: $color2;
    height: 100px;
    width: 300px;
    border: 0;
}

.botonredondo
{
    border-radius: 500px;
}

.mixinc1
{
    @include botones(black,red);
}

.mixinc2
{
    @include botones(blue,whitesmoke);
}

.mixinc3
{
    @extend .botonredondo;
    @include botones(whitesmoke,rgb(20, 20, 20));
}